<style>
.navigation { margin-left: 0px; height: 80%; }
.navigation div { padding-left: 1px; }
.navigation div ul { overflow: hidden; display: none; height: auto; margin: 0; margin-left: -.8rem; }
.navigation span { display: block; line-height: 25px; padding: .5rem .5rem; cursor: pointer; }
.navigation span:hover { background-color: rgba(0, 0, 0, 0.03); }
.navigation a { color: #333; text-decoration: none; }
.navigation a:hover { color: #06F; }
</style>
<aside class="sidebar">
    <div class="scrollbar-inner">
        <div class="user">
            <div class="user__info" data-toggle="dropdown">
                <p style="font-size:20px;">系统菜单</p>
            </div>
        </div>
        <div id="navigation" class="navigation"></div>
    </div>
</aside>
